<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Zarina Restaurant</title>

    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/reserve.css">
    <link rel="stylesheet" href="css/check.css">
    <link rel="stylesheet" href="css/owner-css.css">

</head>

<body>

<section>
    <div class="container">

        <div class="col-md-6 col-md-offset-3" style="padding-top: 35px;">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="tab-text">Edit Reservation</span>
                    </h3>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" >
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"> </label>
                            <div class="col-sm-9">
                                <label>Name: <input type="text" ></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> </label>
                            <div class="col-sm-8">
                                <label>Email: <input type="email" ></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"> </label>
                            <div class="col-sm-9">
                                <label>Phone: <input type="tel" ></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> </label>
                            <div class="col-sm-9">
                                <label>Address: <input type="text" ></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"> </label>
                            <div class="col-sm-9">
                                <label>Date: <input type="date" name="date"
                                                    class="form-control" ></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"> </label>
                            <div class="col-sm-9">
                                <label>Time: <input type="time" name="time"
                                                    class="form-control" placeholder="HH:MM"
                                                    ></label>
                            </div>
                        </div>

                        

                        <div class="form-group">
                            <label class="col-sm-3 control-label"> </label>
                            <div class="col-sm-9">
                                <label>Date: <input type="time" name="time"
                                                    class="form-control" placeholder="HH:MM"
                                                    required></label>
                        
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"> </label>
                            <div class="col-sm-9">
                                <label>Party Size:
                                    <select 
                                            name="table" class="form-control">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-offset-2 text-center">
                            <a href="#" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>