<!DOCTYPE html>
<html lang="en">
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Zarina Restaurant</title>

    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/reserve.css">
    <link rel="stylesheet" href="css/check.css">
    <link rel="stylesheet" href="css/owner-css.css">

    <div class="navbar navbar-inverse navbar-fixed">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>


                </button>
                <a class="navbar-brand" href="#">
                    Zarina's Kitchen</a>
            </div>
            <div class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/make_reservation" >Reserve a table</a></li>
                    <li><a href="#/check_status">Check status</a></li>
                    <li><a href="#/owner-login">Owner</a></li>
                    <li><a href="#/contact_form">Contact</a></li>

                </ul>
            </div>



        </div><!--/.navbar-collapse -->
    </div><!--container-->
    </div><!--navbar-->
</header>
<body>
<section>
    <aside data-spy="affix" data-offset-top="60" data-offset-bottom="50"  width="260" class="col-lg-3 col-sm-4">
        <div class="panel panel-default">

            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <!--about the course left menu-->
                    <li>
                        <a href="#/view-reservation">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span class="tab-text">Reservations</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/view-seating">
                            <span class="glyphicon glyphicon-th"></span>
                            <span class="tab-text">Seating</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/view-profile" >
                            <span class="glyphicon glyphicon-list"></span>
                            <span class="tab-text">Profile</span>
                        </a>
                    </li>

                    <li>
                        <a href="#/new-reservation" >
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="tab-text">New Reservation</span>
                        </a>
                    </li>
                </ul>

            </div> <!--end panel-body-->
        </div><!--navbar-header-->
    </aside>

</section>
</body>
</html>