<!DOCTYPE html>
<html lang="en">
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Zarina Restaurant</title>

    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/reserve.css">
    <link rel="stylesheet" href="css/check.css">
    <link rel="stylesheet" href="css/owner-css.css">

    <div class="navbar navbar-inverse navbar-fixed">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>


                </button>
                <a class="navbar-brand" href="#">
                    Zarina's Kitchen</a>
            </div>
            <div class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/make_reservation" >Reserve a table</a></li>
                    <li><a href="#/check_status">Check status</a></li>
                    <li><a href="#/owner-login">Owner</a></li>
                    <li><a href="#/contact_form">Contact</a></li>

                </ul>
            </div>



        </div><!--/.navbar-collapse -->
    </div><!--container-->
    </div><!--navbar-->
</header>
<body>
<section>
    <div class ="container">

        <div class="col-md-6 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title text-center">Restaurant Profile</h3>
                </div>

                <div class="panel-body">


                    <table class="table">

                        <thead class="text-center">
                        <tr>
                            <th> Restaurant Name:</th>
                            <td> Zarina's Kitchen</td>
                        </tr>
                        <tr>
                            <th> Owner Name:</th>
                            <td> Zarina Yasmin</td>
                        </tr>
                        <tr>
                            <th> Address:</th>
                            <td> 1330 S Finley Rd, 60115</td>
                        </tr>
                        <tr>
                            <th>Time:</th>
                            <td> 8:00 a.m.- 9:00 p.m. </td>
                        </tr>
                        <tr>
                            <th>Auto-Assign Confirmation</th>
                            <td><div class="btn-group btn-toggle">
                                <button class="btn btn-xs btn-default active">ON</button>
                                <button class="btn btn-xs btn-primary">OFF</button>
                            </div>
                            </td>
                        </tr>

                        </thead>

                    </table>

                    <div class="col-sm-offset-3 col-md-6">
                        <a href="/owner-rest-profile" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-success">OK</a>
                    </div>
                </div><!--panel-body-->
            </div><!--panel-info-->
        </div><!--offset-5-->
    </div><!--container-->
</section>


</body>
</html>