<!DOCTYPE html>
<html lang="en">
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Zarina Restaurant</title>

    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/reserve.css">
    <link rel="stylesheet" href="css/check.css">
    <link rel="stylesheet" href="css/owner-css.css">

    <div class="navbar navbar-inverse navbar-fixed">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>


                </button>
                <a class="navbar-brand" href="#">
                    Zarina's Kitchen</a>
            </div>
            <div class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/make_reservation" >Reserve a table</a></li>
                    <li><a href="#/check_status">Check status</a></li>
                    <li><a href="#/owner-login">Owner</a></li>
                    <li><a href="#/contact_form">Contact</a></li>

                </ul>
            </div>



        </div><!--/.navbar-collapse -->
    </div><!--container-->
    </div><!--navbar-->
</header>
<body>
<div class="container">
    <h3>List of Reservations</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>View</th>
            <th>Id</th>
            <th>FIRST_NAME</th>
            <th>LAST_NAME</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>CITY</th>
            <th>STATE</th>
            <th>ZIP</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href><span class="glyphicon glyphicon-user"></span></a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</section>
</body>
</html>